.topoLight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
    padding: 10px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #8a8fa336;
}
.topoDark {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
    padding: 10px;
    background-color: #252525;
    border-bottom: 1px solid #8a8fa336;
}

.logo {
    height: 35px;
    width: 52px;
}

button {
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    border: 2px solid #AEADAD;
    background: none;
    cursor: pointer;
}

button:hover {
    border: 2px solid black;
}

button img {
    max-width: 30px;
    max-height: 30px;
}